!/js/varien/js.js
/solr-6.1.0
/lib/Varien/Db
/lib/Varien/Directory
/lib/Varien/Image
/lib/Varien/File
/lib/Varien/Convert
/lib/Varien/Object
/lib/Varien/Crypt
/lib/Varien/Filter
/lib/Varien/Io
/lib/Varien/Pear
/lib/Varien/Data/Form/Filter
/lib/Varien/Data/Form/Abstract.php
/lib/Varien/Data/Tree
/lib/Varien/Data/Collection.php
/lib/Varien/Data/Form.php
/lib/Varien/Data/Tree.php
/lib/Varien/Data/Collection
/lib/Varien/Event
/lib/Varien/Http
/lib/Varien/Simplexml
/lib/Varien/Cache
/lib/Varien/Object.php
/lib/Varien/Pear.php
/lib/Varien/Event.php
/lib/Varien/Convert.php
/lib/Varien/Data/Form/Element/Abstract.php
/lib/Varien/Data/Form/Element/Text.php
/lib/Varien/Data/Form/Element/Hidden.php
/lib/Varien/Data/Form/Element/Radio.php
/lib/Varien/Data/Form/Element/Radios.php
/lib/Varien/Data/Form/Element/Column.php
/lib/Varien/Data/Form/Element/Time.php
/lib/Varien/Data/Form/Element/Multiselect.php
/lib/Varien/Data/Form/Element/Multiline.php
/lib/Varien/Data/Form/Element/Imagefile.php
/lib/Varien/Data/Form/Element/Submit.php
/lib/Varien/Data/Form/Element/Button.php
/lib/Varien/Data/Form/Element/Note.php
/lib/Varien/Data/Form/Element/Image.php
/lib/Varien/Data/Form/Element/Editor.php
/lib/Varien/Data/Form/Element/Label.php
/lib/Varien/Data/Form/Element/File.php
/lib/Varien/Data/Form/Element/Reset.php
/lib/Varien/Data/Form/Element/Password.php
/lib/Varien/Data/Form/Element/Obscure.php
/lib/Varien/Data/Form/Element/Checkbox.php
/lib/Varien/Data/Form/Element/Select.php
/lib/Varien/Data/Form/Element/Datetime.php
/lib/Varien/Data/Form/Element/Fieldset.php
/lib/Varien/Data/Form/Element/Date.php
/lib/Varien/Data/Form/Element/Link.php
/lib/Varien/Data/Form/Element/Textarea.php
/lib/Varien/Data/Form/Element/Checkboxes.php
/lib/Varien/Data/Form/Element/Renderer
/lib/Varien/Data/Form/Element/Gallery.php
/lib/Varien/Data/Form/Element/Collection.php
/lib/Varien/Image.php
/lib/Varien/Date.php
/lib/Varien/Debug.php
/lib/Varien/Crypt.php
/lib/Varien/Exception.php
/lib/Varien/Autoload.php
/lib/Varien/Profiler.php
/media/.htaccess
/media/document
/media/ecatalog
/media/ecatalogimages
=======
*.zip
.ftpquota
Gulpfile.js
package.json
sitemap.xml
sitemap/sitemap.xml
php_errorlog
/robots.txt
__MACOSX
._.DS_Store
.DS_Store
/node_modules
/.htaccess*
=======
/.idea
/skin/adminhtml/default/default/xmlconnect
/skin/adminhtml/default/default/below_ie7.css
/skin/adminhtml/default/default/boxes.css
/skin/adminhtml/default/default/custom.css
/skin/adminhtml/default/default/ie7.css
/skin/adminhtml/default/default/iestyles.css
/skin/adminhtml/default/default/menu.css
/skin/adminhtml/default/default/oauth-simple.css
/skin/adminhtml/default/default/print.css
/skin/adminhtml/default/default/reset.css
/app/bootstrap.php
/app/design/adminhtml/default/default/etc/theme.xml
/app/design/adminhtml/default/default/layout/tag.xml
/app/design/adminhtml/default/default/layout/cms.xml
/app/design/adminhtml/default/default/layout/compiler.xml
/app/design/adminhtml/default/default/layout/importexport.xml
/app/design/adminhtml/default/default/layout/authorizenet.xml
/app/design/adminhtml/default/default/layout/captcha.xml
/app/design/adminhtml/default/default/layout/customer.xml
/app/design/adminhtml/default/default/layout/xmlconnect.xml
/app/design/adminhtml/default/default/layout/centinel.xml
/app/design/adminhtml/default/default/layout/adminnotification.xml
/app/design/adminhtml/default/default/layout/tax.xml
/app/design/adminhtml/default/default/layout/moneybookers.xml
/app/design/adminhtml/default/default/layout/widget.xml
/app/design/adminhtml/default/default/layout/newsletter.xml
/app/design/adminhtml/default/default/layout/oauth.xml
/app/design/adminhtml/default/default/layout/rss.xml
/app/design/adminhtml/default/default/layout/dataflow.xml
/app/design/adminhtml/default/default/layout/currencysymbol.xml
/app/design/adminhtml/default/default/layout/downloadable.xml
/app/design/adminhtml/default/default/layout/giftmessage.xml
/app/design/adminhtml/default/default/layout/admin.xml
/app/design/adminhtml/default/default/layout/catalog.xml
/app/design/adminhtml/default/default/layout/report.xml
/app/design/adminhtml/default/default/layout/api2.xml
/app/design/adminhtml/default/default/layout/search.xml
/app/design/adminhtml/default/default/layout/main.xml
/app/design/adminhtml/default/default/layout/bundle.xml
/app/design/adminhtml/default/default/layout/sales.xml
/app/design/adminhtml/default/default/layout/connect.xml
/app/design/adminhtml/default/default/layout/index.xml
/app/design/adminhtml/default/default/layout/promo.xml
/app/design/adminhtml/default/default/layout/pagecache.xml
/app/design/adminhtml/default/default/locale/en_US/translate.csv
/app/design/adminhtml/default/default/template/formkey.phtml
/app/design/adminhtml/default/default/template/downloadable
/app/design/adminhtml/default/default/template/pagecache
/app/design/adminhtml/default/default/template/api
/app/design/adminhtml/default/default/template/oauth
/app/design/adminhtml/default/default/template/weee
/app/design/adminhtml/default/default/template/index
/app/design/adminhtml/default/default/template/review
/app/design/adminhtml/default/default/template/payment
/app/design/adminhtml/default/default/template/permissions
/app/design/adminhtml/default/default/template/example.phtml
/app/design/adminhtml/default/default/template/usa
/app/design/adminhtml/default/default/template/popup.phtml
/app/design/adminhtml/default/default/template/media
/app/design/adminhtml/default/default/template/bundle
/app/design/adminhtml/default/default/template/poll
/app/design/adminhtml/default/default/template/backup
/app/design/adminhtml/default/default/template/moneybookers
/app/design/adminhtml/default/default/template/xmlconnect
/app/design/adminhtml/default/default/template/api2
/app/design/adminhtml/default/default/template/customer
/app/design/adminhtml/default/default/template/store
/app/design/adminhtml/default/default/template/widget
/app/design/adminhtml/default/default/template/forgotpassword.phtml
/app/design/adminhtml/default/default/template/empty.phtml
/app/design/adminhtml/default/default/template/coming.phtml
/app/design/adminhtml/default/default/template/email
/app/design/adminhtml/default/default/template/tag
/app/design/adminhtml/default/default/template/catalog
/app/design/adminhtml/default/default/template/cms
/app/design/adminhtml/default/default/template/login.phtml
/app/design/adminhtml/default/default/template/centinel
/app/design/adminhtml/default/default/template/tax
/app/design/adminhtml/default/default/template/paygate
/app/design/adminhtml/default/default/template/promo
/app/design/adminhtml/default/default/template/report
/app/design/adminhtml/default/default/template/urlrewrite
/app/design/adminhtml/default/default/template/importexport
/app/design/adminhtml/default/default/template/directory
/app/design/adminhtml/default/default/template/compiler
/app/design/adminhtml/default/default/template/paypal
/app/design/adminhtml/default/default/template/googlebase
/app/design/adminhtml/default/default/template/rating
/app/design/adminhtml/default/default/template/authorizenet
/app/design/adminhtml/default/default/template/eav
/app/design/adminhtml/default/default/template/page
/app/design/adminhtml/default/default/template/connect
/app/design/adminhtml/default/default/template/notification
/app/design/adminhtml/default/default/template/captcha
/app/design/adminhtml/default/default/template/system
/app/design/adminhtml/default/default/template/overlay_popup.phtml
/app/design/adminhtml/default/default/template/sales/billing
/app/design/adminhtml/default/default/template/sales/items
/app/design/adminhtml/default/default/template/sales/order/address
/app/design/adminhtml/default/default/template/sales/order/comments
/app/design/adminhtml/default/default/template/sales/order/create/billing
/app/design/adminhtml/default/default/template/sales/order/create/coupons
/app/design/adminhtml/default/default/template/sales/order/create/form/address.phtml
/app/design/adminhtml/default/default/template/sales/order/create/items
/app/design/adminhtml/default/default/template/sales/order/create/newsletter
/app/design/adminhtml/default/default/template/sales/order/create/shipping
/app/design/adminhtml/default/default/template/sales/order/create/sidebar
/app/design/adminhtml/default/default/template/sales/order/create/store
/app/design/adminhtml/default/default/template/sales/order/create/totals
/app/design/adminhtml/default/default/template/sales/order/create/abstract.phtml
/app/design/adminhtml/default/default/template/sales/order/create/comment.phtml
/app/design/adminhtml/default/default/template/sales/order/create/data.phtml
/app/design/adminhtml/default/default/template/sales/order/create/form.phtml
/app/design/adminhtml/default/default/template/sales/order/create/giftmessage.phtml
/app/design/adminhtml/default/default/template/sales/order/create/js.phtml
/app/design/adminhtml/default/default/template/sales/order/create/sidebar.phtml
/app/design/adminhtml/default/default/template/sales/order/create/items.phtml
/app/design/adminhtml/default/default/template/sales/order/create/totals.phtml
/app/design/adminhtml/default/default/template/sales/order/creditmemo
/app/design/adminhtml/default/default/template/sales/order/invoice
/app/design/adminhtml/default/default/template/sales/order/shipment
/app/design/adminhtml/default/default/template/sales/order/totals
/app/design/adminhtml/default/default/template/sales/order/giftoptions.phtml
/app/design/adminhtml/default/default/template/sales/order/totalbar.phtml
/app/design/adminhtml/default/default/template/sales/order/totals.phtml
/app/design/adminhtml/default/default/template/sales/order/view/items
/app/design/adminhtml/default/default/template/sales/order/view/tab
/app/design/adminhtml/default/default/template/sales/order/view/form.phtml
/app/design/adminhtml/default/default/template/sales/order/view/giftmessage.phtml
/app/design/adminhtml/default/default/template/sales/order/view/history.phtml
/app/design/adminhtml/default/default/template/sales/order/view/items.phtml
/app/design/adminhtml/default/default/template/sales/order/view/tracking.phtml
/app/design/adminhtml/default/default/template/sales/payment
/app/design/adminhtml/default/default/template/sales/recurring
/app/design/adminhtml/default/default/template/sales/transactions
/app/design/adminhtml/default/default/template/page.phtml
/app/design/adminhtml/default/default/template/access_denied.phtml
/app/design/adminhtml/default/default/template/resetforgottenpassword.phtml
/app/design/adminhtml/default/default/template/newsletter
/app/design/adminhtml/default/default/template/currencysymbol
/app/design/adminhtml/default/default/template/dashboard
/app/design/adminhtml/default/default/template/giftmessage
/LICENSE.html
/LICENSE.txt
/LICENSE_AFL.txt
/LICENSE_EE*
/RELEASE_NOTES.txt
/api.php
/app/.htaccess
/app/Mage.php
/app/code/community/Cm/
/app/code/community/Phoenix/
/app/code/core/
/app/design/frontend/base/
/app/design/frontend/default/blank/
/app/design/frontend/default/default/
/app/design/frontend/default/iphone/
/app/design/frontend/default/modern/
/lib/Net
/lib/Pelago
/lib/Unserialize
/lib/Zend
/app/design/frontend/enterprise/default
/app/design/frontend/rwd/
/app/design/install/
/app/etc/applied.patches.list
/app/etc/config.xml
/app/etc/enterprise.xml
/app/etc/local.xml
/app/etc/local.xml.additional
/app/etc/local.xml.template
/app/etc/modules/Cm_RedisSession.xml
/app/etc/modules/Enterprise_*
/app/etc/modules/Mage_*.xml
/app/etc/modules/Phoenix_Moneybookers.xml
/app/locale/de_DE/
/app/locale/en_US/Mage_*.csv
/app/locale/en_US/Phoenix_*.csv
/app/locale/en_US/template/email/account_new_confirmation.html
/app/locale/en_US/template/email/account_new.html
/app/locale/en_US/template/email/account_new_confirmed.html
/app/locale/en_US/template/email/admin_password_new.html
/app/locale/en_US/template/email/account_password_reset_confirmation.html
/app/locale/en_US/template/email/admin_password_reset_confirmation.html
/app/locale/en_US/template/email/sitemap_generate_warning.html
/app/locale/en_US/template/email/moneybookers_activateemail.html
/app/locale/en_US/template/email/product_price_alert.html
/app/locale/en_US/template/email/amaudit_log_mailing_template.html
/app/locale/en_US/template/email/amaudit_suspicious_log_mailing_template.html
/app/locale/en_US/template/email/contact_form.html
/app/locale/en_US/template/email/currency_update_warning.html
/app/locale/en_US/template/email/newsletter_subscr_confirm.html
/app/locale/en_US/template/email/wishlist_share.html
/app/locale/en_US/template/email/token.html
/app/locale/en_US/template/email/product_stock_alert.html
/app/locale/en_US/template/email/newsletter_unsub_success.html
/app/locale/en_US/template/email/newsletter_subscr_success.html
/app/locale/en_US/template/email/payment_failed.html
/app/locale/en_US/template/email/product_alert_cron_error.html
/app/locale/en_US/template/email/log_clean_warning.html
/app/locale/en_US/template/email/product_share.html
/app/locale/en_US/template/email/password_new.html
/app/locale/en_US/template/email/amaudit_unsuccessful_log_mailing_template.html
/app/locale/en_US/template/email/*.html
/app/locale/en_US/template/email/sales/*.html
/app/locale/es_ES/
/app/locale/fr_FR/
/app/locale/nl_NL/
/app/locale/pt_BR/
/app/locale/zh_CN/
/cron.php
/cron.sh
/downloader/
/errors/
/favicon.ico
/get.php
/includes/
/index.php
/index.php.sample
/install.php
/js/blank.html
/js/calendar/
/js/enterprise/
/js/extjs/
/js/firebug/
/js/flash/
/js/index.php
/js/jscolor/
/js/lib/
/js/mage/captcha.js
/js/mage/centinel.js
/js/mage/cookies.js
/js/mage/directpost.js
/js/mage/translate.js
/js/mage/translate_inline.css
/js/mage/translate_inline.js
/js/mage/adminhtml/giftoptions/
/js/mage/adminhtml/product/
/js/mage/adminhtml/sales/
/js/mage/adminhtml/wysiwyg/
/js/mage/adminhtml/accordion.js
/js/mage/adminhtml/backup.js
/js/mage/adminhtml/browser.js
/js/mage/adminhtml/events.js
/js/mage/adminhtml/flexuploader.js
/js/mage/adminhtml/form.js
/js/mage/adminhtml/giftmessage.js
/js/mage/adminhtml/grid.js
/js/mage/adminhtml/hash.js
/js/mage/adminhtml/image.js
/js/mage/adminhtml/loader.js
/js/mage/adminhtml/magento-all.js
/js/mage/adminhtml/moneybookers.js
/js/mage/adminhtml/product.js
/js/mage/adminhtml/rules.js
/js/mage/adminhtml/scrollbar.js
/js/mage/adminhtml/tabs.js
/js/mage/adminhtml/tools.js
/js/mage/adminhtml/uploader.js
/js/mage/adminhtml/variables.js
/js/scriptaculous/
/js/spacer.gif
/js/tiny_mce/
/js/varien/
/lib/.htaccess
/lib/3Dsecure/
/lib/Apache/
/lib/Cm/
/lib/Credis/
/lib/LinLibertineFont/
/lib/Mage/
/lib/Magento/
/lib/PEAR/
/lib/Zend/*
!lib/Zend/Currency.php
/lib/flex/
/lib/googlecheckout/
/lib/phpseclib/
/mage
/nbproject/
/pear/
/php.ini.sample
/pkginfo/
/shell/abstract.php
/shell/compiler.php
/shell/indexer.php
/shell/log.php
/skin/frontend/base/
/skin/frontend/default/blank/
/skin/frontend/default/blue/
/skin/frontend/default/default/*
/skin/frontend/default/french/
/skin/frontend/default/german/
/skin/frontend/default/iphone/
/skin/frontend/default/modern/
/skin/frontend/enterprise
/skin/frontend/rwd/
/skin/install/
/media/review
/media
/media/xmlconnect
/media/js
/media/downloadable
/media/dhl
/media/customer
/media/css_secure
/media/css
/media/catalog
/media/cache
/media/amshopby
/media/amfeed
/media/amlabel
/media/raveinfosys
/media/mastercheckout
/media/bannerads
/media/dailydeal
/media/magpleasure
/media/dealers
/media/dealerlocator
/var/

# ingore debug extension
/app/code/local/Opencommercellc/
/app/etc/modules/Opencommercellc_Commercebug.xml
/js/commercebug/

# update 13/02
sitemap/

# update 12/02
/download

.buildpath
.project
.settings/.jsdtscope
.settings/com.zend.php.remoteproject.core.prefs
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
.settings/org.eclipse.php.ui.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
*.launch
dev/
lib/Zend/Currency.php
app/locale/en_US/template/email/html/footer.html
app/locale/en_US/template/email/html/header.html
js/mage/adminhtml/sales.js
lib/Net/IDNA2.php
lib/Net/IDNA2/Exception.php
lib/Net/IDNA2/Exception/Nameprep.php
shell/.htaccess
/lib/Varien/
/lib/recaptcha/
!/lib/recaptcha/
