<?xml version="1.0"?>
<config>
    <sections>
        <design translate="label" module="core">
            <groups>
                <package translate="label">
                    <fields>
                        <meigee_package_name translate="label">
                            <label>Meigee Current Package Name</label>
                            <frontend_type>text</frontend_type>
                            <!--<backend_model>adminhtml/system_config_backend_design_package</backend_model>-->
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>If child theme for Meigee theme is used then fill the above field Current Package Name with your child theme name and in Meigee Current Package Name set name of Meigee theme which is used for current store.</comment>
                        </meigee_package_name>
                    </fields>
                </package>
            </groups>
        </design>
    </sections>
</config>

