<?xml version="1.0"?>
<config>
    <modules>
        <Bigone_Profile>
            <version>0.1.1</version>
        </Bigone_Profile>
    </modules>
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>Bigone_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <core_block_abstract_to_html_after_observer>
                        <type>singleton</type>
                        <class>Bigone_Profile_Model_Observer</class>
                        <method>createBlockQuestionProfile</method>
                    </core_block_abstract_to_html_after_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_quote_add_item>
                <observers>
                    <quoteitem_set_profile_cost>
                        <type>singleton</type>
                        <class>Bigone_Profile_Model_Observer</class>
                        <method>setProfileData</method>
                    </quoteitem_set_profile_cost>
                </observers>
            </sales_quote_add_item>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Bigone_Profile>
                    <files>
                        <default>Bigone_Profile.csv</default>
                    </files>
                </Bigone_Profile>
            </modules>
        </translate>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <profile_save_product_brand>
                        <type>singleton</type>
                        <class>profile/observer</class>
                        <method>saveProductBrand</method>
                    </profile_save_product_brand>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bigone_Profile after="Mage_Adminhtml">Bigone_Profile_Adminhtml</Bigone_Profile>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <profile>
                <class>Bigone_Profile_Model</class>
                <resourceModel>profile_mysql4</resourceModel>
            </profile>
            <profile_mysql4>
                <class>Bigone_Profile_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>profile_brand</table>
                    </brand>
                </entities>
                <entities>
                    <glasses>
                        <table>profile_glasses</table>
                    </glasses>
                </entities>
                <entities>
                    <lens>
                        <table>profile_lens</table>
                    </lens>
                </entities>
                <entities>
                    <coating>
                        <table>profile_coating</table>
                    </coating>
                </entities>
                <entities>
                    <brandassign>
                        <table>profile_product_brand</table>
                    </brandassign>
                </entities>
            </profile_mysql4>
        </models>
        <resources>
            <profile_setup>
                <setup>
                    <module>Bigone_Profile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profile_setup>
            <profile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profile_write>
            <profile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profile_read>
        </resources>
        <blocks>
            <profile>
                <class>Bigone_Profile_Block</class>
            </profile>
        </blocks>
        <helpers>
            <profile>
                <class>Bigone_Profile_Helper</class>
            </profile>
        </helpers>
    </global>
</config>