<?xml version="1.0"?>
<config>
    <modules>
        <Bigone_Profile>
            <version>0.1.3</version>
        </Bigone_Profile>
    </modules>
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>Bigone_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <core_block_abstract_to_html_after_observer>
                        <type>singleton</type>
                        <class>Bigone_Profile_Model_Observer</class>
                        <method>createBlockQuestionProfile</method>
                    </core_block_abstract_to_html_after_observer>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_quote_add_item>
                <observers>
                    <quoteitem_set_profile_cost>
                        <type>singleton</type>
                        <class>Bigone_Profile_Model_Observer</class>
                        <method>setProfileData</method>
                    </quoteitem_set_profile_cost>
                </observers>
            </sales_quote_add_item>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Bigone_Profile>
                    <files>
                        <default>Bigone_Profile.csv</default>
                    </files>
                </Bigone_Profile>
            </modules>
        </translate>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <profile_save_product_brand>
                        <type>singleton</type>
                        <class>profile/observer</class>
                        <method>saveProductBrand</method>
                    </profile_save_product_brand>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Bigone_Profile after="Mage_Adminhtml">Bigone_Profile_Adminhtml</Bigone_Profile>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <profile>
                <class>Bigone_Profile_Model</class>
                <resourceModel>profile_mysql4</resourceModel>
            </profile>
            <profile_mysql4>
                <class>Bigone_Profile_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>profile_brand</table>
                    </brand>
                </entities>
                <entities>
                    <glasses>
                        <table>profile_glasses</table>
                    </glasses>
                </entities>
                <entities>
                    <lens>
                        <table>profile_lens</table>
                    </lens>
                </entities>
                <entities>
                    <coating>
                        <table>profile_coating</table>
                    </coating>
                </entities>
                <entities>
                    <brandassign>
                        <table>profile_product_brand</table>
                    </brandassign>
                </entities>
            </profile_mysql4>
        </models>
        <resources>
            <profile_setup>
                <setup>
                    <module>Bigone_Profile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profile_setup>
            <profile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profile_write>
            <profile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profile_read>
        </resources>
        <blocks>
            <profile>
                <class>Bigone_Profile_Block</class>
            </profile>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Bigone_Profile_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Bigone_Profile_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Bigone_Profile_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Bigone_Profile_Block_Sales_Order_Totals</order_totals>
                    <order_invoice_totals>Bigone_Profile_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>Bigone_Profile_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
            <ajaxKit>
                <rewrite>
                    <frontend_addToCart_ajaxResult>Bigone_Profile_Block_Frontend_AddToCart_AjaxResult</frontend_addToCart_ajaxResult>
                </rewrite>
            </ajaxKit>
        </blocks>
        <helpers>
            <profile>
                <class>Bigone_Profile_Helper</class>
            </profile>
        </helpers>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <bigone_profile_data />
                    </product_attributes>
                </item>
            </quote>
            <order>
                <item>
                    <product_attributes>
                        <bigone_profile_data />
                    </product_attributes>
                </item>
            </order>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <bigone_profile_data>
                    <to_order_item>*</to_order_item>
                </bigone_profile_data>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <bigone_profile_data>
                    <to_cm_item>*</to_cm_item>
                    <to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
                </bigone_profile_data>
            </sales_convert_order_item>
            <sales_convert_quote_address>
                <charges_amount>
                    <to_order>*</to_order>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </charges_amount>
                <base_charges_amount>
                    <to_order>*</to_order>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </base_charges_amount>
                <profile_tax_amount>
                    <to_order>*</to_order>
                </profile_tax_amount>
                <base_profile_tax_amount>
                    <to_order>*</to_order>
                </base_profile_tax_amount>
            </sales_convert_quote_address>
            <sales_convert_order>
                <charges_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </charges_amount>
                <base_charges_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </base_charges_amount>
                <profile_tax_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </profile_tax_amount>
                <base_profile_tax_amount>
                    <to_invoice>*</to_invoice>
                    <to_cm>*</to_cm>
                </base_profile_tax_amount>
            </sales_convert_order>
        </fieldsets>
        <sales>
            <quote>
                <totals>
                    <charges>
                        <class>profile/sales_quote_address_total_charges</class>
                        <after>tax</after>
                        <sort_order>500</sort_order>
                    </charges>
                    <profiletax>
                        <class>profile/sales_quote_address_total_profiletax</class>
                        <after>tax</after>
                        <sort_order>600</sort_order>
                    </profiletax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <charges>
                        <class>profile/sales_order_invoice_total_charges</class>
                        <after>tax</after>
                        <sort_order>500</sort_order>
                    </charges>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <charges>
                        <class>profile/sales_order_creditmemo_total_charges</class>
                        <after>tax</after>
                        <sort_order>500</sort_order>
                    </charges>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
</config>